ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
 ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-elements{
  display: flex;
  justify-content: space-between;
  padding-left: 0px;

}
button{
  background-color: transparent;
  color: white; border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
}
.bt-logo{
  width: 60px;
  cursor: pointer;
}
.btn-sign-up{
  background-color: #00c98e;
}